:root {

    --seq-css-gap                           : 15px; 
    --seq-css-background                    : rgb(40, 40, 45);
    --seq-css-row-ratio                     : 0.05fr 0.2fr 1fr;
    --seq-css-header-background             : rgb(30, 30, 35);
    --seq-css-header-logo-width             : 15%;
    --seq-css-header-browser-width          : 30%;
    --seq-css-header-timeline-menu-width    : 20%;
    --seq-css-content-column-ratio          : 1fr 0.2fr;
    --seq-css-content-left-padding          : 4px;
    --seq-css-panel-background              : rgb(30, 30, 35);
    --seq-css-panel-shadow                  : -1px -1px 2px rgb(80, 80, 80), 1px 1px 4px black;
    --seq-css-panel-border-radius           : 10px;
    --seq-css-pressed-panel-background      : rgb(30, 30, 35);
    --seq-css-pressed-panel-shadow          : inset 2px 2px 4px rgb(10, 10, 10), inset -1px -1px 2px rgb(125, 125, 125);

}

.seq-css-panel { 
    
    background: var(--seq-css-panel-background);
    box-shadow: var(--seq-css-panel-shadow);
    border-radius: var(--seq-css-panel-border-radius); 

}

.seq-css-pressed-panel {

    background: var(--seq-css-pressed-panel-background);
    box-shadow: var(--seq-css-pressed-panel-shadow);
    border-radius: var(--seq-css-panel-border-radius); 

}